:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

h1 {
  text-align: center;
}

li {
  list-style: none;
}

.showCard {
  width: 10rem;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
}

section {
  text-align: center;
}

p {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}